// fonts
$font-pacifico: 'Pacifico', cursive;
$font-raleway: 'Raleway', sans-serif;

//color
$color-black: #262626;
$color-orange: #ff6033;
$color-white: #fff;
$color-aqua: #00baba;
$color-blue: #70bfff;
$color-yellow: #ffe92f;
$color-darkblue: #5585a2;
$color-green: #96b92c;