.aboutus {
    background-color: $color-aqua;
    padding-top: 50px;
    
    img {
        width: 100%;
        margin-bottom: 25px;

    }

    &__title {
        margin-top: 100px;
        font-size: 90px;
        color: $color-white;
    }

    &__description {
        margin-bottom: 20px;
        color: $color-white;
    }
}