.hero {
    padding-bottom: 400px;
    position: relative;
    &__title {
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 30px;
    }

    &__discription {
        font-size: 17px;
        margin-bottom: 30px;
    }
    
    .btn__link {
        background-color: $color-orange;
    }
}